.details {
  display: grid;
  row-gap: 48px;

  margin-bottom: 60px;

  @include on-tablet {
    row-gap: 64px;

    margin-bottom: 120px;
  }

  @include on-desktop {
    row-gap: 47px;

    margin-bottom: 180px;
  }

  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__button {
    @include page-grid;

    &-btn {
      @include on-tablet {
        grid-column: 2 / 6;
      }

      @include on-desktop {
        grid-column: 5 / 9;
      }

      &:hover {
        box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
      }
    }
  }
}

.detail {
  &__photos {
    @include page-grid;

    margin-block: 0 16px;
  }

  &__link {
    overflow: hidden;
    display: block;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    display: block;

    width: 100%;
    height: 100%;
    margin: 0;

    object-fit: cover;

    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    margin-block: 0 8px;

    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }

  &__content {
    @include page-grid;
  }

  &__desc {
    grid-column: 1 / -1;

    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    @include on-tablet {
      grid-column: span 8;
    }
  }
}
